a,a:hover,a:focus,a:active{
	text-decoration:none;
}

.cerchio_logo{
	height:100px;
    width: 100px;
    border-radius: 50%;
    background-color: #ED1B2F;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: 'Helvetica',sans-serif;
    position: relative;
    top: 10px;
    left: 65px;
    float:left;
}
.cerchio_logo b{
	position:relative;
	top:30px;
	left:3px;
}

.blocco_ricerca{
	float:right;
	max-width:200px;
	margin-right:20px;
	position:relative;
	top:-55px;
}
.blocco_ricerca input{
	height:30px;
	width:150px;
	background-color:#b3b3b3;
	border-radius:15px;
	border:none;
	outline:none;
}
.blocco_ricerca button{
    background-color: transparent;
    border: none;
    margin-top: 0px;
    float: right;
    margin-left: 10px;
}

@media screen and (max-width:768px){
	.blocco_ricerca{
		display:none;
	}
}