@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

*{
	padding:0px;
	margin:0px;
	font-family: 'Roboto',sans-serif;
}

body{
	background-color:#c1c1c1;
}
#map_canvas {
	height: 600px;
	width: 100%;
	margin:100px auto;
	border:4px solid #ED1B2F!important;
}
#circle{
	width:200px;
	height:200px;
	border-radius:50%;
	border:4px solid #ED1B2F!important;
}
.layer{
	background-color:#000;
	color:#FFF;
	padding:10px;
}
.error{
	border:2px solid red!important;
}
.thumbnail{
	opacity:1;
}
.correct{
	border:2px solid green!important;
}
.content_bgk{
	width:100%;
	background-image:url("../img/graffiti.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	padding-top:30px;
}
.blocco_entrata{
	height: auto;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0px;
}
.blocco_entrata img{
	margin:0 auto;
	display:block;
	width:300px;
	padding-top:100px;
}
.blocco_entrata span{
	font-weight:700;
	font-size:36px;
	color:#fff;
	display:block;
	margin-bottom:20px;
}
.blocco_entrata a{
	text-transform:uppercase;
	text-decoration:none;
	height:50px;
	width:250px;
	padding:5px 10px;
	border:2px solid #fff;
	background:transparent;
	color:#fff;
	font-size:20px;
	font-weight:700;
}
.sidebar{
	position:fixed;
	background-color:#475a63;
	height:100%;
	width:250px;
}
.sidebar p{
	margin-top:150px;
    font-weight: 700;
    text-align:center;
    color: #c1c1c1;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Helvetica';
    z-index:20;
    margin-bottom:20px;
}	
.sidebar ul{
	width:100%;
	height:auto;
	margin-top:30px;
}
.sidebar ul li{
	list-style-type:none;
	border-bottom:2px solid #c1c1c1;
	color:#f1f1f1;
	text-transform:uppercase;
	font-style:'Helvetica';
	font-weight:700;
	padding-top:10px;
	padding-left:20px;
	height:30px;
	transition:0.3s;
	animation:ease-in-out;
}
.sidebar ul li:hover{
	padding-left:40px;
	background-color:#c1c1c1;
	color:#475a63!important;
}
.post{
	background-color:#fff;
	height:auto;
	min-height: 550px;
	max-width:800px;
	margin: 100px auto 20px;
	border-bottom:2px solid #ED1B2F;
}
.post p,.post ul,.post h3{
	width:inherit;
	max-width:600px;
	padding:10px 20px;
}
.post ul li{
	text-transform:uppercase;
}
.box_img{
	background-size:100%;
	background-position:center bottom;
	background-repeat:no-repeat;
	height:300px;
	width:100%;
}
#content{
	padding-top:140px;
	padding-right:30px;
	padding-left:30px;
}

.btn_menu{
	background-color:transparent;
	border-radius:20px;
	height:40px;
	width:200px;
	color:#c1c1c1;
	font-size:18px;
	text-transform:uppercase;
	margin-left:20px;
	border:2px solid #c1c1c1;
	outline:none;
}
.btn_menu:hover{
	background-color:#c1c1c1;
	color:#475a63;
}
@media screen and (min-width:1200px){

}
@media screen and (max-width:768px){
	.thumbmail img{
		max-height:165px!important;
	}	
}