<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html"><img src="img/logo.png" width="100" style="margin-top:-35px;"><p style="display:block;text-align:center;color:#fff;margin-top:-15px;">StileLiber</p></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       		<li><a href="index.html">Home</a></li>
    			<li><a href="about.html">Chi siamo</a></li>
    			<li><a href="hall_of_turin.html">Hall of Turin</a></li>
    			<li><a href="shop.html">Shop</a></li>
          <li><a href="gallery.html">Gallery</a></li>
    			<li><a href="contatti.html">Contatti</a></li>
      </ul>
      <form class="navbar-form navbar-right">
    	  <div class="input-group">
    	    <input type="text" class="form-control" placeholder="Search">
    	    <div class="input-group-btn">
    	      <button class="btn btn-default" type="submit">
    	        <i class="fa fa-search"></i>
    	      </button>
    	    </div>
    	  </div>
    	</form>
    </div>
  </div>
</nav>